Server/Xml/PackageManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="Uuid">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="[\{]{0,1}[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}[\}]{0,1}">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(create|replace|remove)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ManifestType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(remote|package)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VoodooManifest">
        <xs:complexType>
            <xs:all>
                <xs:element name="Package">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="PackID" type="Uuid" />
                            <xs:element name="Version" type="xs:string" />
                            <xs:element name="Date" type="xs:date" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Versions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Version">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="Modules">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="Module">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="Name" type="xs:string" />
                                                                <xs:element name="LibID" type="Uuid" />
                                                                <xs:element name="PackID" type="Uuid" />
                                                            </xs:all>
                                                            <xs:attribute name="action" type="ActionType" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Classes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="Class">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="Name" type="xs:string" />
                                                                <xs:element name="ClsID" type="Uuid" />
                                                                <xs:element name="LibID" type="Uuid" />
                                                            </xs:all>
                                                            <xs:attribute name="action" type="ActionType" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Files">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="File">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="action" type="ActionType" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Messages">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="Language">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element minOccurs="0" name="Pre" type="xs:string" />
                                                                <xs:element minOccurs="0" name="Post" type="xs:string" />
                                                            </xs:all>
                                                            <xs:attribute name="id" type="xs:language" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Messages">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Language">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="Pre" type="xs:string" />
                                        <xs:element name="Post" type="xs:string" />
                                    </xs:all>
                                    <xs:attribute name="id" type="xs:language" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="type" type="ManifestType" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>