Server/Xml/RemoteManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="Uuid">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ManifestType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(remote|package)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="VoodooManifest">
        <xs:complexType>
            <xs:all>
                <xs:element name="Packages">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Package">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="Name" type="xs:string" />
                                        <xs:element name="PackID" type="Uuid" />
                                        <xs:element name="Version" type="xs:string" />
                                        <xs:element name="Date" type="xs:date" />
                                        <xs:element name="ManifestUri" type="xs:anyURI" />
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Defaults">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Default">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="Name" type="xs:string" />
                                        <xs:element name="Filter" type="xs:string" />
                                        <xs:element name="Config" type="xs:string" />
                                        <xs:element name="Packages">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="Package" type="Uuid" />
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="type" type="ManifestType" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>